
@using PagedList.Mvc;
@model PagedList.IPagedList<Shop.Models.Product>

@{
    ViewBag.Title = "GetProductByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetProductByCategory</h2>

<div class="container container-240">
    <div class="e-product">
        <ul class="breadcrumb v4">
            <li><a href="#">Home</a></li>
            <li class="active">Shop</li>
        </ul>
        <div class="pd-banner">
            <a href="#" class="image-bd effect_img2"><img src="~/Content/Asset IMG/laptop_banner2.jpg" alt="" class="img-reponsive"></a>
        </div>
        <div class="pd-top">


        </div>
        <div class="pd-middle">
            <div class="view-mode view-group">

                <a class="grid-icon col active"><img src="~/Content/E-come_v1.0.0/E-Come/img/grid.png" alt=""></a>
                <a class="grid-icon col2"><img src="~/Content/E-come_v1.0.0/E-Come/img/grid2.png" alt=""></a>
                <a class="list-icon list"><img src="~/Content/E-come_v1.0.0/E-Come/img/list.png" alt=""></a>
            </div>
            <div class="pd-sort">
                <div class="filter-sort">
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="dropdown-label">Default sorting</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="manual">Featured</a></li>
                            <li><a href="best-selling">Best Selling</a></li>
                            <li><a href="title-ascending">Alphabetically, A-Z</a></li>
                            <li><a href="title-descending">Alphabetically, A-Z</a></li>
                            <li><a href="price-descending">Price, high to low</a></li>
                            <li><a href="price-ascending">Price, low to high</a></li>
                            <li><a href="created-ascending">Date, old to new</a></li>
                            <li><a href="created-descending">Date, new to old</a></li>
                        </ul>
                    </div>
                </div>
                <div class="filter-show">
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Show
                            <span class="dropdown-label">12</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">12</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">36</a></li>
                            <li><a href="#">48</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-collection-grid product-grid spc1">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img">
                                <a href="@Url.Action("Detail","Home",new { id = item.Id })"><img src="~/Content/ImgLaptop/@item.Image" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-info">
                                @*<div class="color-group">
                                        <a href="#" class="circle black"></a>
                                        <a href="#" class="circle red"></a>
                                        <a href="#" class="circle gray"></a>
                                    </div>*@
                                <div class="element-list element-list-left">
                                    <ul class="desc-list">
                                        <li>Connects directly to Bluetooth</li>
                                        <li>Battery Indicator light</li>
                                        <li>DPI Selection:2600/2000/1600/1200/800</li>
                                        <li>Computers running Windows</li>
                                    </ul>
                                </div>
                                <div class="element-list element-list-middle">
                                    <div class="product-rating bd-rating">
                                        <span class="star star-5"></span>
                                        <span class="star star-4"></span>
                                        <span class="star star-3"></span>
                                        <span class="star star-2"></span>
                                        <span class="star star-1"></span>
                                        <div class="number-rating">( 896 reviews )</div>
                                    </div>
                                    <p class="product-cate">@item.Category.CategoryName</p>
                                    <h3 class="product-title"><a href="#">@item.Title</a></h3>
                                    <div class="product-bottom">
                                        <div class="product-price"><span>@item.Price VNĐ</span></div>

                                        <a href="#">
                                            @Html.ActionLink("Order", "AddToCart", "ShoppingCart", new { id = item.Id }, new
                                        {
                                            @class = "btn btn-success"
                                        })
                                            @*<span class="icon-bg icon-view"></span>*@
                                        </a>
                                    </div>

                                    <div class="product-bottom-group">



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                }


            </div>
        </div>
        <div class="pd-middle space-v1">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("ShopFull", new { page }))

                @*<li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>*@
            </ul>
            <div class="pd-sort">
                <div class="filter-sort">
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="dropdown-label">Default sorting</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="manual">Featured</a></li>
                            <li><a href="best-selling">Best Selling</a></li>
                            <li><a href="title-ascending">Alphabetically, A-Z</a></li>
                            <li><a href="title-descending">Alphabetically, A-Z</a></li>
                            <li><a href="price-descending">Price, high to low</a></li>
                            <li><a href="price-ascending">Price, low to high</a></li>
                            <li><a href="created-ascending">Date, old to new</a></li>
                            <li><a href="created-descending">Date, new to old</a></li>
                        </ul>
                    </div>
                </div>
                <div class="filter-show">
                    <div class="dropdown">
                        <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Show
                            <span class="dropdown-label">12</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">12</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">36</a></li>
                            <li><a href="#">48</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>